.wrapper {
  --border-spacing: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 8px;
  font-size: 0.875rem;
  font-weight: 500;
}

.top {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-inline: var(--layout-spacing-x);
}

.topContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-content-width);
  padding-block-end: var(--border-spacing);
}

.selector {
  color: var(--color-premier-markets);

  .selected {
    position: relative;
    color: var(--color-primary);

    &::before {
      position: absolute;
      content: "";
      right: calc(var(--separator-spacing) * 2);
      bottom: calc(var(--border-spacing) * -1);
      left: 0;
      height: 2px;
      background-color: var(--color-primary);
    }
  }

  /* The last element selected doesn't have padding to the right,
  so the right position should be 0 */
  .selected:last-child::before {
    right: 0;
  }
}

.border {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-border-grey);
  height: 1px;
  width: 100%;
}

.topNav {
  flex-shrink: 1;
}

.withSeparator {
  --separator-spacing: 6px;

  display: flex;
  gap: var(--separator-spacing);

  > *:not(:last-child)::after {
    padding-inline-start: var(--separator-spacing);
    content: "|";
    color: #d6d6d6;
  }
}

.languageSelector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  font-size: 0.75rem;
}

.iconWrapper {
  --size: 1.1rem;

  width: var(--size);
  height: var(--size);
}

.main {
  display: flex;
  justify-content: center;
  padding: 23px var(--layout-spacing-x) 22px;
  width: 100%;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-content-width);
}

.logoWrapper {
  width: 10rem;
  height: 2.813rem;
}

.mainNav {
  width: 100%;

  ul {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.mainNavCenter {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #010205;
}

.mainLinkWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.registrationWrapper {
  display: flex;
  gap: 23px;
  align-items: center;
}

.mainLinkWrapper:not(:last-child) .mainLink {
  &::after {
    content: url("@/public/svg/chevron-down.svg");
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding-inline-start: 0.5rem;
    /* Optical alignment */
    transform: translateY(3px);
  }
}

.mainLinkWrapper:last-child {
  color: var(--color-primary);

  &::after {
    content: url("@/public/svg/arrow-right.svg");
    display: inline-block;
    width: 0.75rem;
    height: 0.705rem;
    padding-inline-start: 0.563rem;
    /* Optical alignment */
    transform: translateY(-2px);
  }
}

@media (max-width: 600px) {
  /* Only show language selector on mobile */
  .topNav {
    li:not(.languageSelectorWrapper) {
      display: none;
      color: var(--color-neutral-white);
    }
  }
}
