.wrapper {
  display: flex;
  justify-content: center;
  padding: 91px 137px 186px;
}

.content {
  max-width: var(--max-content-width);
}

.title {
  font-size: 4.5rem;
  line-height: 1;
  flex: 1 1 32rem;
  max-width: 32rem;
}

.primaryText {
  color: var(--color-primary);
}

.textContentWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-block-end: 105px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1 1 515px;
}

.description {
  font-size: 1.125rem;
}

.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.bannerWrapper {
  display: flex;
  gap: 40px;
  background-image: url("/images/coins-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.imageWrapper {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 150px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.image {
  display: block;
  width: 150px;
  height: auto;
  transform: scale(1.3);
  transform-origin: 50% 100%;
}

.bannerContentWrapper {
  flex: 3;
  display: flex;
  justify-content: center;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 46px 27px;
}

.bannerTitle {
  color: white;
  font-size: 2.25rem;
  max-width: 23.5rem;
}
