.wrapper {
  /* Pill-like shape */
  border-radius: 100vw;
  padding: 10px 21px;
  color: var(--text-color);
  background: var(--background);
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  filter: var(--filter);
}
