:root {
  --color-neutral-white: #ffffff;
  --color-neutral-black: #000000;
  --color-border-grey: #c9c9c9;
  --color-primary: #ed1d25;
  --color-premier-markets: #151515;

  --layout-spacing-x: 68px;

  --max-content-width: 1300px;
}

body {
  background-color: var(--color-neutral-white);
  color: black;
  font-family: Urbanist, Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style resets */

* {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/* Global styles */

.withSeparator {
  --separator-spacing: 6px;

  display: flex;
  gap: var(--separator-spacing);

  > *:not(:last-child)::after {
    padding-inline-start: var(--separator-spacing);
    content: "|";
    color: #d6d6d6;
  }
}

a {
  transition: color 300ms ease-in;

  &:hover {
    color: var(--color-primary);
    transition: color 100ms ease-out;
  }
}
