:root {
  --color-neutral-white: #ffffff;
  --color-neutral-black: #000000;
  --color-border-grey: #c9c9c9;
  --color-primary: #ed1d25;
  --color-premier-markets: #151515;

  --layout-spacing-x: 68px;
}

body {
  background-color: var(--color-neutral-white);
  color: black;
  font-family: Urbanist, Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
