.wrapper {
  display: flex;
  justify-content: center;
  padding: 47px 106px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: var(--max-content-width);
  width: 100%;
  gap: 29px;
}
