.wrapper {
  cursor: pointer;
}

.wrapper:hover {
  .animated {
    transform: translateY(-20px);
    transition: transform 150ms ease-in;
  }

  .sendIconWrapper {
    color: var(--color-primary);
    transition: color 150ms ease-out;
  }
}

.animated {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  color: #1f1f1f;
  padding: 25px 28px 25px 37px;
  border-radius: 40px;
  border: 2px solid var(--color-primary);
  max-width: 262px;
  transition: transform 300ms ease-out;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  margin-block-end: 18px;
}

.title {
  border-block-end: 1px solid #d2d2d2;
  padding-block-end: 5px;
}

.sendIconWrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
  color: #dcdcdc;
  transition: color 350ms ease-out;
}
